* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    color: black;
    font-size: 16px;
    font-family: 'pretendard';
    line-height: 24px;
    min-width: 1320px;
}

#header {
    background: url(../images/brand/bg1.jpg) no-repeat 50% 0;
    height: 614px;
    position: relative;
}

.nav {
    width: 660px;
    margin: 0 auto;
    height: 82px;
    text-align: center;
    margin-left: 30%;
}
.nav li img{

}
.nav ul {
    margin: 0 auto;
}

.nav li {
    float: left;
    padding: 20px;
}

.nav a {
    opacity: 0.5;
    font-size: 18px;
    font-weight: 500;
    color: #358691;
    padding: 20px 8px;
}

.nav a:hover {
    opacity: 1;
}

.re {
    width: 460px;
    height: 330px;
    color: white;
    line-height: 45px;
    top: 40%;
    padding-left: 15%;
    position: absolute;
}

.re h1 {
    font-size: 60px;
    padding-left: 20px;
    font-weight: 400;
    border-bottom: 1px solid white;
    padding-bottom: 13px;
    line-height: 60px;
}

.re p {
    text-align: center;
    padding-top: 13px;
    font-size: 26px;
}

.hover{
    height: 600px;
}
.hover h3{
    text-align: center;
    color: #86a9bd;
}
.hover_inner{
    margin: 0 auto;
    width: 1000px;
}
.left_top{
    float: left;
    width: 447px;
    height: 425px;
}
.right_top{
    float: right;
    width: 540px;
    height: 425px;
}
.hover_inner div {
    position: relative;
    margin-top: 10px;
    overflow: hidden;

}
.hover_inner div img:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.hover_inner div img{
    transition: all 1s;
}

.hover_inner div:hover img{
    transform: rotateY(180deg);
    opacity: 1;
}